@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Karla, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::-webkit-scrollbar-thumb {
  background: #ecd;
}

::-webkit-scrollbar {
  width: 3px;
}

body {
  background: #fff;
  background-image: url("https://i.imgur.com/vb5JvBg.png");
  color: #555;
  cursor: url("https://i.imgur.com/lhPqll6.png"), progress;
  font-size: 1rem;
  margin: 0;
}

a {
  color: #f9b;
  text-decoration: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}

a:hover {
  color: #8cb3d9;
}

.bonbon {
  font-family: Sacramento, cursive;
  font-size: 2rem;
}

#links {
  background: #8cb3d9;
  border-bottom: 3px solid #ecd;
  font-size: .9rem;
  padding: 15px 0 5px;
  position: fixed;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.title {
  background: #fff;
  border-radius: 100px;
  color: #000;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0 10px;
  text-align: center;
}

.ln-wrapper {
  display: inline-block;
  margin: 10px -25px;
}

.navigation {
  display: inline-block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.navigation-title {
  background: none;
  color: #fff;
  border: none;
  display: inline-block;
  font-family: Karla, sans-serif;
  font-size: .9rem;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.navigation:hover .navigation-content {
  display: block;
}

.navigation:hover .navigation-title {
  color: #ecd;
}

.navigation-content {
  display: none;
  position: absolute;
  text-align: left;
  width: 170px;
  z-index: 1;
}

#links a {
  color: #fff;
  margin-right: 10px;
}

#links a:hover {
  color: #ecd;
}

.navigation-content a {
  background: #ecd;
  display: block;
  padding: 10px;
  width: 150px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.navigation-content a:hover {
  background-color: #4d4d4d;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

#panels-wrapper {
  float: left;
  margin-top: 88px;
  width: 100%;
}

#panel, #panel-two, #panel-three, #panel-four {
  background: rgba(255, 255, 255, .6);
  border-bottom: 1px solid #d9e6f2;
  float: left;
  height: auto;
  top: 0;
  width: 100%;
}

.panel-container {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 320px;
}

.panel-title {
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  padding: 0 .5em;
}

.panel-border {
  background: #ecd;
  height: 3px;
  margin-bottom: 18px;
  margin-top: 18px;
  width: 30px;
  padding: 0 .5em;
}

.panel-content {
  text-transform: none;
  padding: 0 .5em .5em;
}

.intro-content {
  text-transform: none;
  padding: 1em .5em;
  font-size: .8em;
}

.image, .image img {
  height: 320px;
  width: 320px;
}

.intro {
  background: #fff;
  border-left: 3px solid #ecd;
  padding: 10px;
  height: auto;
  width: 247px;
}

.box, .box-one {
  overflow: hidden;
  width: 320px;
}

.item-wrapper {
  height: 250px;
  margin: 10px;
  width: 250px;
}

.item-image img {
  border: 1px solid #ecd;
  height: 250px;
  position: absolute;
  width: 250px;
}

.item-name {
  font-size: .9rem;
  position: absolute;
  opacity: .7;
  text-transform: uppercase;
}

.item-name a {
  background: #8cb3d9;
  border: 1px solid #8cb3d9;
  color: #fff;
  display: inline-block;
  padding: 10px;
}

.item-name a:hover {
  background: #fff;
  color: #8cb3d9;
}

.img-flex {
  display: block;
  width: 100%;
}

.card {
  overflow: hidden;
  border: 1px solid #ecd;
  float: left;
  margin: 10px;
  width: 250px;
}

.card-body, .card-title {
  display: none;
}

.card-label {
  color: #79a6d2;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 1rem 1rem calc(1rem - 4px);
  border: 2px dotted #8cb3d9;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
}

.card-head {
  position: relative;
}

.about-wrapper {
  overflow: hidden;
  padding: 10px 10px 22px;
  width: 320px;
}

.about-lead {
  border-bottom: 1px solid #eee;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: none;
  width: 320px;
}

.footer {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  background-color: #f2f2f2;
  border-top: 3px solid #ecd;
  color: #8cb3d9;
  width: 100%;
}

.footer h2 {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 0;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 0;
  list-style-type: none;
  font-size: .7em;
}

.footer a {
  color: #4d4d4d;
}

.links {
  padding: 0 3rem;
}

.social {
  margin-left: auto;
  padding: 0 1rem;
  display: flex;
  opacity: .7;
}

.social > li {
  margin: 0 .5em;
  width: 3em;
}

.copyright {
  padding: 1rem;
  width: 100%;
  color: #8cb3d9;
  font-size: .6em;
  background-color: #4d4d4d;
}

@media only screen and (min-width: 25em) {

  #links {
    padding: 10px 0 5px;
  }

  .ln-wrapper {
    margin-left: -20px;
  }

  .title {
    margin-left: 20px;
    margin-top: 5px;
  }

  .item-wrapper {
    height: 320px;
    margin: 0 0 15px;
    width: 320px;
  }

  .item-image img {
    height: 320px;
    width: 320px;
  }

  .panel-title, .panel-content, .intro-content {
    padding-left: 0;
  }

  .about-lead {
    margin-left: -10px;
  }

  .card {
    margin: 0 0 15px;
    width: 320px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .title, .ln-wrapper {
    margin-top: 5px;
  }

  #links {
    padding: 13px 0 5px;
  }

  .panel-container {
    width: 470px;
  }

  .box {
    width: 470px;
  }

  .image, .image img, .item-wrapper, .card {
    height: 470px;
    width: 470px;
  }

  .box-one {
    margin: -10px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  .item-wrapper {
    width: 50%;
    height: 250px;
  }

  .item-image img {
    width: 240px;
    height: 250px;
  }

  .item-name {
    font-size: .7rem;
  }

  .intro {
    height: auto;
    width: 397px;
  }

  .about-wrapper {
    width: 470px;
  }

  .about-lead {
    margin-bottom: 10px;
    width: 470px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .intro {
    height: 350px;
    margin-left: 350px;
    margin-top: -350px;
    padding: 20px;
    width: 440px;
  }

  #panels-wrapper {
    margin-top: 61px;
  }

  .panel-container {
    width: 790px;
  }

  .image, .image img {
    height: 350px;
    width: 350px;
  }

  .box, .box-one {
    margin: -10px;
    width: 840px;
  }

  .item-wrapper {
    margin: 10px;
    width: 250px;
  }

  .item-image img {
    width: 248px;
    height: 248px;
  }

  .about-wrapper {
    margin: -10px;
    overflow: hidden;
    padding-bottom: 22px;
    width: 840px;
  }

  .about-lead {
    float: left;
    margin: 10px;
    padding-bottom: 10px;
    text-transform: none;
    width: 385px;
  }

  .card {
    width: 30%;
    margin: 10px;
  }

  .img-flex {
    height: 248px;
  }

  .card-label {
    display: none;
  }

  .card-body {
    display: block;
    padding: .2rem 1rem;
    color: #79a6d2;
  }

  .card-title {
    display: block;
    margin: 0;
    padding: .3rem 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: .7rem;
    color: #79a6d2;
    border: 2px dotted #8cb3d9;
    background-color: rgba(255, 255, 255, .8);
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  body {
    font-size: .9rem;
  }

}
